<div class='row'>
  <div class='col s10'>
    <h2>
      <%= @product %> history
    </h2>
  </div>
  <div class='col s2'>
    <br />
    <a href=<%= root_url %> class='btn btn-primary right'>Back</a>
  </div>
</div>

<table class='striped highlight responsive-table'>
  <thead>
    <tr>
      <th>Last</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Recorded At</th>
    </tr>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= as_money recording.last %></td>
        <td><%= as_money recording.bid %></td>
        <td><%= as_money recording.ask %></td>
        <td><%= recording.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
